[submodule "servarr"]
	path = servarr
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/servarr.git
[submodule "immich"]
	path = immich
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/immich.git
[submodule "dns"]
	path = dns
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/dns.git
[submodule "scrutiny"]
	path = scrutiny
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/scrutiny.git
[submodule "unifi-network-server"]
	path = unifi-network-server
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/unifi-network-server.git
[submodule "minio"]
	path = minio
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/minio.git
[submodule "netbox"]
	path = netbox
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/netbox.git
[submodule "knowledge-base"]
	path = knowledge-base
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/knowledge-base.git
[submodule "traefik"]
	path = traefik
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/traefik.git
[submodule "authentik"]
	path = authentik
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/authentik.git
[submodule "node-red"]
	path = node-red
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/node-red.git
[submodule "gitlab"]
	path = gitlab
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/gitlab.git
[submodule "argo-cd"]
	path = argo-cd
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/argo-cd.git
[submodule "homepage"]
	path = homepage
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/homepage.git
[submodule "your-spotify"]
	path = your-spotify
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/your-spotify.git
[submodule "speedtest-tracker"]
	path = speedtest-tracker
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/speedtest-tracker.git
[submodule "renovate"]
	path = renovate
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/renovate.git
[submodule "grafana"]
	path = grafana
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/grafana.git
[submodule "mailrise"]
	path = mailrise
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/mailrise.git
