[submodule "servarr"]
	path = servarr
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/servarr.git
[submodule "immich"]
	path = immich
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/immich.git
[submodule "dns"]
	path = dns
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/dns.git
[submodule "scrutiny"]
	path = scrutiny
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/scrutiny.git
[submodule "unifi-network-server"]
	path = unifi-network-server
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/unifi-network-server.git
[submodule "minio"]
	path = minio
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/minio.git
[submodule "netbox"]
	path = netbox
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/netbox.git
[submodule "knowledge-base"]
	path = knowledge-base
	url = ssh://git@gitlab.pycrs.cz:2424/homelab/knowledge-base.git