---
- name: Update Scrutiny Collector
  hosts: pve
  vars:
    ansible_ssh_private_key_file: ~/.ssh/homelab
    ansible_user: root

  tasks:
    - name: Get installed version
      command: /usr/local/bin/scrutiny-collector-metrics --version
      register: installed
      failed_when: false
      changed_when: false
    
    - name: Parse installed version
      set_fact:
        installed_version: "{{ installed.stdout.split(' ')[-1] }}"

    - name: Get latest release
      uri:
        url: https://api.github.com/repos/AnalogJ/scrutiny/releases/latest
        return_content: yes
      register: github_release
      changed_when: false

    - name: Parse latest version
      set_fact:
        latest_version: "{{ github_release.json.tag_name | regex_replace('^v', '') }}"

    - name: Determine if upgrade required
      set_fact:
        upgrade_needed: "{{ latest_version is version(installed_version, '>') }}"

    - name: Debug versions
      debug:
        msg: "Installed version: {{ installed_version }}, Latest version: {{ latest_version }}, Upgrade needed: {{ upgrade_needed }}"

    - name: Find linux amd64 asset
      set_fact:
        download_url: >-
          {{
            github_release.json.assets
            | selectattr('name', 'search', 'linux-amd64')
            | map(attribute='browser_download_url')
            | first
          }}
      when: upgrade_needed

    - name: Download new binary
      get_url:
        url: "{{ download_url }}"
        dest: /usr/local/bin/scrutiny-collector-metrics
        mode: '0755'
      when: upgrade_needed